# for loop

#### write a program to print a range.. we use range function()

In [2]:
for i in range(1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(0,11):
    print("trupti")

trupti
trupti
trupti
trupti
trupti
trupti
trupti
trupti
trupti
trupti
trupti

#### write a program to print 50 to 12 in 2 number of difference

In [4]:
for i in range(50,11,-2):
    print(i)

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12

#### square of a number

In [1]:
n=[1,4,8,98,67,56]
for i in n:
    print(i**2)

1
16
64
9604
4489
3136

#### sum of number

In [3]:
total=0
n=int(input("enter a number"))      #suppose we get a number 10
for i in range(1,n+1):                #we diside our range 1 it means our loop star with value 1 
    total +=i                           #:1+2+3+4+5+6+7+8+9+10 our loop contitue start 
print("sum=",total)

enter a number10
sum= 55

#### Factorial

In [2]:
factorial=1
n=int(input("eneter a number"))
for i in range(1,n+1):
    factorial=factorial*i
print(factorial)

eneter a number4
24

In [7]:
total=0
w=int(input(" enter a number"))
for i in range(2,w+ 1 ):
    total += i
print("sum",total)

 enter a number5
sum 14

#### table of a number

In [14]:
t=int(input("enter a table value"))
for i in range(1,11):
    print(t*i)
    
    #print(f"{t} x  {i}={t * i}")

enter a table value8
8
16
24
32
40
48
56
64
72
80

#### count of a variable

In [4]:
text=str(input("enter a word:="))
target_char=input("enter a target_char")
count=0
for char in text:
    if target_char==char:
        count=count+1
print(count)

enter a word:=ppython
enter a target_charp
2

#### check  gred

In [ ]:
n=[35,50,60,75,85,95]

#### PRIME OR NOT

In [12]:
num=7
for i in range(2,num):
    if num%i==0:
        print("not prime")
        break
else:
    print("prime")

prime

### printing pattern

#### we require 5 things
    .input:How many rows
     .for loop:1 for rows and 1 for colums
     .range(start,stop)
     .print()
     . end=**

#### use of end=""     use end we  have ans in one line

In [13]:
print("hello",end=" ")
print("hi")

hello hi

In [10]:
size=5
for i in range (size):
    print("*" * size)

*****
*****
*****
*****
*****

In [18]:
num=int(input("enter a number"))
for row in range (1,num):
    for col in range(row):
        print("*",end=" ")
    print()

enter a number5
*
* *
* * *
* * * *

In [20]:
num=int(input("enter a number"))
for  in range(row):
    for row in range (-1,num):
        print("*",end=" ")
    print()

enter a number8
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *